body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h2, h3, h4, h5, h6 {
    color: #2E2F42;
}
.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
}
ul {
    list-style-type: none;
     margin: 0;
    padding: 0;
}
.logo-blue {
    color: #4D5AE5;
}
.logo .logo-black {
    color: #2E2F42;
}
.menu .link {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.menu .link:hover,
.menu .link:focus {
    color: #404bbf;
}
address {
    font-style: normal;
}
.contacts .info {
    text-decoration: none;
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.02em;
}
.contacts .info:hover,
.contacts .info:focus {
    color: #404bbf;
}
.effective {
    background-color: #2E2F42;
    padding: 120px 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
}
.effective h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
     text-align: center;
    color: #FFFFFF;
}
.effective .order {
    display: block;
    margin-top: 40px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.effective .order:hover,
.effective .order:focus {
    background-color: #404bbf;
}
.team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}

section h2 {
    text-align: center;
    letter-spacing: 0.02em;
    font-size: 36px;
    line-height: 1.11111;
}
section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
section h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team h3 {
    text-align: center;
    letter-spacing: 0.02em;
}
.team p {
    text-align: center;
    letter-spacing: 0.02em;
}
.team .team-person {
background-color: #FFFFFF;
}

.footer {
background-color: #2E2F42;
padding: 100px 0;
}

.footer .logo {
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    
}
.footer p {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #F4F4FD;
text-transform: none;
}

.footer .logo-white {
    color: #F4F4FD;
}